// appointment
.modal-open #appointment-modal {
  opacity:1;
}
#appointment-modal{
  .modal-header:after {
    content:none;
  }
  .modal-header:before {
    content:none;
  }
  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .mobile{display:none;}
  // general
  .lbl-appt-title{
    font-size: 30px;line-height: 30px;font-weight: bold;color: #fff;
    &::before{content: '\f073';color: #787878;font-family: 'FontAwesome';font-size: 23px;margin: 0px 10px 30px -12px;}
  }
  .item-label{font-size: 14px;line-height: 14px;color: #fff;}
  .scroll-area{}
  .appt-cap1{
    font-size: 25px; line-height: 1; color: #222; 
    padding-bottom: 10px;
    border-bottom: 4px solid #dcdcdc;
  }
  .modal-dialog{
    max-width: 100vw;max-height: 100vh;width: 100vw;height: 100vh !important;margin: 0px !important;position: fixed;transform:none !important;
    .modal-content{
      width: 100vw;height: 100vh;border-width: 0px;max-width:100vw;max-height:100vh;
      .modal-body{padding: 0px;}
    }
  }
  .appointment-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow:auto;
  }
  .modal-header{
    height: 70px;display: flex;position: relative;background-color: #111;
    flex-direction: row;justify-content: space-between;padding: 0px;border: 0px;
    .modal-logo{
      width: 290px;height: 100%;display: flex;align-items: center;margin-left: 20px;
    }
    .call-info{
      padding-right: 80px;
      .lbl-call{font-size: 15px;color: rgb(243,243,243);line-height: 64px;margin-right: 10px;}
      .lbl-call-number{font-size: 30px;font-weight:bold;color: rgb(243,243,243);line-height: 64px;}
    }
    .close-btn{
      right: 20px;
      top: calc(50% - 13px);
    }
    @media screen and (max-width: 767px){
      height: 50px;
      .modal-logo{width: 230px;margin: 0 10px;}
      .call-info{
        padding-right: 50px;
        .lbl-call{display: none;}
        .lbl-call-number{font-size: 17px;line-height: 50px;}
      }
      .close-btn{right: 15px;}
    }
  }
  .scheduler-area{
    height: 140px;background: #222;display: flex;justify-content: center;padding: 20px;
    .scheduler{
      display: flex;flex-direction: column;align-content: space-between;width: 46%;
      .sch-title{display: flex;justify-content: center;flex: 1;}
      .sch-control{
        flex: 1;
        .widget-container{display: flex;flex-direction: row;}
        .appt-ctl-item{
          display: flex;flex-direction: column;flex: 0 0 calc(100%/5);align-items: center;position: relative;
          -webkit-transition: .2s;-o-transition: .2s;transition: .2s;
          .item-pointer{width: 25px;height: 25px;border: 7px solid  #222;border-radius: 50%;background-color: #ababab;z-index: 1;}
          .item-line{
            width: 100%;position: absolute;top: 12px;z-index: 0;border: 1px solid #ababab;
            &.before{left: 0;width: 50%;}
            &.after{right: 0;width: 50%;}
            &.before-after{right: 0;width: 100%;}
          }
          .item-label{color: #ababab;margin-top: 10px;}
          &.active{
            .item-pointer{background-color: #0992f1;}
            .item-label{color: #fff;}
          }
          &.complete{
            .item-pointer{background-color: #61e917;}
          }
        }
      }
    }
    @media screen and (max-width: 1024px){
      .scheduler{width: 80%;position: relative;}
    }
    @media screen and (max-width: 767px){
      height: 55px;padding: 10px;
      .appt-icon-back{
        display: block;position: absolute;cursor: pointer;
        &::before{
          opacity: 100%;content: '\f053';color: #797979;font-family: 'FontAwesome';
          font-size: 22px;position: relative;top: 2px;padding-right: 10px;
        }
      }
      .scheduler{
        width: 100%;
        .lbl-appt-title{font-size: 20px;line-height: 35px;}
        .sch-control{
          position: absolute;bottom: -20px;width: 100%;
          .widget-container{margin: 0 -10px;}
          .appt-ctl-item{
            flex: 0 0 calc(100%/5 - 5px);margin: 0 2.5px;
            .item-pointer{width: 100%;border-radius: 0px;border-width: 0;height: 7px;}
            &:first-child{margin-left: 0;flex:0 0 calc(100%/5 - 2.5px);}
            &:last-child{margin-right: 0;flex:0 0 calc(100%/5 - 2.5px);}
          }
          .item-label,.item-line{display: none;}
        }
      }
    }
    @media screen and (max-width: 400px){
      .scheduler{
        .lbl-appt-title{font-size: 18px;line-height: 35px;}
      }
    }
    @media screen and (max-width: 370px){
      .scheduler{
        .lbl-appt-title{font-size: 15px;line-height: 35px;}
      }
    }
  }
  .appt-content{
    flex: 1;
    @media screen and (max-width: 767px){
      margin-top: 15px;
      padding-bottom:100px;
    }
    @media screen and (min-width:1024px){
      max-width:1750px;
      margin:auto;
      width:100%;
    }
  }
  .bk_f3{background: #f3f3f3;}
  .select-area{
    width: 70%;
    &.appt_confirm{
      width: 600px;margin: 30px auto;background-color: #fff;
      box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.15);height:100%;
      .appt-cap1{text-align: center;}
    }
    @media screen and (max-width: 1024px){
      width: 100%;
    }
    @media screen and (max-width: 767px){
      padding: 15px;
      padding-bottom: 60px;
      &.appt_confirm{
        width: 100%;margin: 0;
      }
    }
  }
  .appt-details{
    width: 30%;background-color: #f3f3f3;border-left: 1px solid #e0e0e0;
    @media screen and (max-width: 1024px){
      display: none;
    }
  }
  .appt-detail-stages{
    .detail-stage{
      display: flex;
      flex-direction: row;
      font-size: 18px; line-height: 1; color: #c5c5c5; 
      padding: 15px 0;
      border-bottom: 1px solid #dcdcdc;
      &.active{ color: #222; font-weight: bold;}
      &:last-child{ border-width: 0px;}
    }
  }
  .appt-footer{
    background-color: #222;color: #9d9d9d;font-size: 14px;min-height: 65px;
    display: flex;justify-content: center;align-items: center;
    @media screen and (max-width: 767px){display: none;}
  }
  .appt-sub-comp{display: block;}
  .goto-next{
    display: flex;justify-content: space-between;align-items: center;
    margin-top: 15px;font-size: 15px;color: #0992f1;border-top: 4px solid #dcdcdc;padding: 15px 0;
    line-height: 1;
    .btn-back{
      &::before{content: '\f053';color: #000;font-family: 'FontAwesome';font-size: 10px;margin-right: 9px;}
    }
    .btn-next{
      background: rgb(237,237,237);color: #fff;border-radius: 5px;padding: 15px;
      &.active{background: #0992f1;}
      &.add-next::after{content: '\f054';color: #fff;padding-left: 30px;font-family: 'FontAwesome';font-size: 10px;}
    }
    @media screen and (max-width: 767px){
      position: fixed;bottom: 0;left: 0;right: 0;margin: 0;border: 0;padding: 0;z-index: 2;
      .btn-back, .btn-cancel{display: none;}
      .btn-next{
        border-radius: 0px;width: 100%;text-align: center;
      }
    }
  }
  .appt-book{
    width: 640px;margin: 0 auto;display: flex;align-items: center;justify-content: center;flex-direction: column;text-align: center;
    overflow-y: auto;padding: 50px 20px;
    .book-title{font-size: 58px;line-height: 50px;font-weight: bold;letter-spacing: -2px;color: #222;}
    .book-description{font-size: 18px;line-height: 26px;margin: 30px 0;color: #666666;}
    .book-btn{color: white;font-size: 16px;background: #0992f1;border-radius: 5px;padding: 15px 20px;cursor: pointer;}
    @media screen and (max-width: 767px){
      .book-title{font-size: 48px;line-height: 44px;}
    }
    @media screen and (max-width: 400px){
      .book-title{font-size: 40px;line-height: 40px;}
    }
  }
  @media screen and (max-width: 767px){
    .desktop{
      display: none;
    }
  }
}