.appt-cap3{font-size: 20px; color: rgb(18,18,18); font-weight: bold; line-height: 1;}
.appt-cap4{font-size: 15px; color: rgb(18,18,18); line-height: 1.3;}
.radio-area.chk-radio{
  .custom-control-label {
    &::before{
      top: -1px;
      left: -17px;
      width: 20px;
      height: 20px;
    }
  }
  .custom-control-input:checked ~ .custom-control-label {
    &::before{
      border-color: #007bff;
    }
    &::after {
      top: -3px;
      left: -19px;
      width: 23px;
      height: 23px;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%230b92f1'/%3e%3c/svg%3e")
    }
  }
}
.appt-store{
  display: flex;flex-direction: column; height: 100%;
  padding-top: 15px;
  .store-row{
    display: flex;flex-direction: row;align-items: center;
    border: 2px solid rgb(220,220,220);background: #fff;border-radius: 5px;height: 65px;margin: 15px 0;
    &.active{border: 2px solid rgb(9,146,241);}
    .chk-radio{
      flex: 0 0 65px;padding: 0px;text-align: center;
    }
    .store-location1{width: 220px;}
    .store-location2{
      flex: 1;
    }
    @media screen and (max-width: 767px){
      min-height: 85px;height: auto;padding: 10px 0;
      .chk-radio{flex: 0 0 55px;}
      .store-location2{
        .mobile{display: block !important;}
      }
      .appt-cap3{font-size: 16px;}
      .appt-cap4{font-size: 13px;}
    }
  }
  .split-row{text-align: center;margin: 5px 0 20px 0;}
  .geolocate-area{
    display: flex; 
    flex-direction: row;
    .search{
      flex: 1; position: relative;
      .input-auto-complete{
        border: 1px solid #b9b9b9;border-radius: 5px;background-color: rgb(237, 237, 237);
        font-size: 14px;color: #555555;padding: 10px 35px 10px 15px;height: auto;width: 100%;
      }
      i{cursor: pointer;color: #787878;font-size: 20px;position: absolute;right: 10px;top: 10px;}
    }
    .btn-location{ 
      a{text-decoration: none;}
    }
    .b-loc{
      background: #0992f1;
      padding: 10px 15px;
      font-size: 15px;
      border-radius: 5px;
      width: 175px;
      color: #fff;
      margin-left: 10px;
      span{padding-left: 10px;}
      img{
        width: 20px;
        margin-right: 0;
        margin-top: -3px;
      }
    }
    @media screen and (max-width: 700px){
      .btn-location{width: auto;}
      .b-loc{
        width: 50px;
        img{
          margin-top: 0px;
        }
      }
      span{display: none;}
    }
  }
  .radio-area{
    @media screen and (max-width: 767px){
      &.mobile{ display: block !important; padding-top: 0px; padding-bottom: 15px;}
      
    }
  }
  .store-no-result{
    min-height: 70px;display: flex;flex-direction: column;justify-content: center;align-items: center;height: 100%;color: rgb(85,85,85);font-size: 14px;
  }
}