@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

.c-active{color: #2a2a2a;}
.c-deactive{color: #a1a1a1;}
.c-blue{color: #0992f1 !important;}
.c-green{color: rgb(75,184,25) !important;}
.text-bold{font-weight: bold;}
.text-italic{font-style: italic;}
.text-uppercase{text-transform: uppercase;}
.text-cap{text-transform: capitalize;}
.bg-white{background-color: #fff;}
.btn-custom{
  background: #0992f1;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  &.disable{
    background-color: #bcbcbc;
  }
  span{width: auto;}
}
.mw-200{max-width: 200px;}
/* desktop menu container */
.lbl-area{
  position: relative;
  min-width: 145px;
  text-align: left;
  span{ text-transform: capitalize !important; }
  .vehicle-info, .store-info{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -8px;
    margin-bottom: -8px;
    span{
      font-size: 18px;
      line-height: 18px;
      text-align: left;
      @media screen and (max-width: 992px){
        font-size: 16px;
      }
      @media screen and (max-width: 440px){
        font-size: 14px;
        width: auto;
      }
    }
  }
  @media screen and (max-width: 479px){
    min-width: 80px;
  }
}
.s-mobile-vehicle{
  .flex-1{text-align: left;}
}
.s-mobile-store{
  .flex-1{text-align: left;}
  @media screen and (max-width: 370px){
    .w50{width: 30px;}
  }
}
@media screen and (max-width: 370px){
  .w25 {width: 12px !important;}
  .navbar #nav-collapse .dropdown .nav-link i{
    left: 0 !important;
  }
}
/* vehicle container */
.vehicle-container{
  .card{
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f3f3f3;
    @media screen and (max-width: 993px){
      height: calc(100vh - 130px);
    }
  }
  @media screen and (min-width: 992px){
    .flex-row>.close-btn {
      top: 0;
      bottom: 0;
      height: 100%;
      display: flex;
      right: 20px;
      .svg {
        align-self: center;
        width: 25px;
        height: 25px;
      }
    }
    .bg-white {
      padding:10px 0px;
    }
  }
  .v-selector{
    padding: 0 15px;
    .tab-btn{
      font-size: 15px;
      color: #555555;
      display: inline-block;
      cursor: pointer;
      padding: 15px 0 10px;
      margin-right: 15px;
      &.active{
        border-bottom: 5px solid #fde703;
      }
    }
    @media screen and (max-width: 360px) {
      .tab-btn{font-size: 12px;}
    }
  }
  .search-area{
    position: relative;
    padding: 0 60px 0 15px;
    &.mobile{
      input {background: #fff;border: 1px solid #ffffff;}
    }
    input{
      background: #ededed;
      border: 1px solid #ededed;
      border-radius: 5px;
      font-size: 14px;
      color: rgb(85,85,85);
      line-height: 2.2;
    }
    i.fa_search{
      cursor: pointer;
      color: #787878;
      font-size: 20px;
      position: absolute;
      right: 80px;
      top: 33%;
      &.mobile{right: 30px; top: 15px;}
    }
    .new-vehicle-btn{
      font-size: 15px;
      background-color: #0992f1;
      color: white;
      line-height: 1;
      // width: 100%;
      display: flex;
      justify-content: center;
      padding: 14px 10px;
      border-radius: 5px;
      max-height: 42px;
      min-width: 175px;
      i{
        margin-right: 10px;
      }
    }
    @media screen and (max-width: 767px) {
      width: auto;
      padding: 0 45px 0 15px;
      &.mobile{
        background-color: #e5e5e5;
        padding: 10px 15px;
      }
    }
    @media screen and (max-width: 600px) {
      .new-vehicle-btn{
        display: none;
        // font-size: 12px;
        // i{margin-right: 0px;}
      }
    }
  }
  .breadcrumb-area{
    .r-y{
      font-size: 15px;
      line-height: 19px;
      &.active{color: #2a2a2a;}
      &.deactive{color: #a1a1a1;}
      &.selected{color: #0992f1;}
    }
    .r-line{
      font-size: 15px;
      line-height: 19px;
      margin: 0 15px;
      &.active{color: #2a2a2a;}
      &.deactive{color: #a1a1a1;}
    }
  }

  .breadcrumb-area{
    display: flex;
    flex-direction: row;
    .bcb-area{
      flex: auto;
      display: flex;
      align-items: center;
    }
    .status-area{
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 13px;
      color: #555555;
      line-height: 110%;
      text-align: right;
      .cap-year{
        color: #000;
        font-size: 20px;
        font-weight: bold;
      }
      span{text-transform: none !important;}
    }
    @media screen and (max-width: 767px){
      flex-direction: column;
      .bcb-area{justify-content: center;padding-bottom: 15px;}
      .status-area{width: auto;text-align: center;}
    }
  }
  .items-area{
    @media(max-width:767px){
      padding-bottom:100px;
    }
    .item{
      border: 1px solid rgb(200,200,200);
      border-radius: 5px;
      background: #fff;
      width: 160px;
      height: 45px;
      margin: 5px;
      font-size: 14px;
      color: rgb(9,146,241);
      display: flex;
      justify-content: center;
      align-items: center;
      // flex-grow: 8;
      &:hover{
        transition: 1s;
        color: #a1a1a1;
        color: #fff;
        background-color: #5a6268;
        border-color: #545b62;
      }
      @media screen and (max-width: 767px){width: 31%;}
      @media screen and (max-width: 500px){
        width: 47%;
        &.r-year{width: 30%;}
      }
      @media screen and (max-width: 450px){
        width: 46%;
      }
      @media screen and (max-width: 330px){
        &.r-year{width: 29%;}
      }
      // @media screen and (max-width: 400px){width: calc(100% - 10px);}
    }
  }

  .vehicle-area{
    // margin-left: -1.5%;
    // margin-right: -1.5%;
    margin-left: -15px;
    margin-right: -15px;

    .vehicle{
      position: relative;
      display: flex;
      flex-direction: column;
      width: 31%;
      // flex-grow: 3;
      // min-width: 450px;
      // margin-right: 1.5%;
      // margin-left: 1.5%;
      margin-left: 15px;
      margin-right: 15px;
      background-color: white;
      border: 1px solid #c8c8c8;
      border-radius: 5px;
      height: 165px;
      padding: 20px 25px;
      margin-top: 35px;
      margin-bottom: 25px;
      .tai-area{
        cursor: pointer;
        padding: 10px 10px 5px 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 14px;
        color: #0992f1;
        background-color: transparent;
        line-height: 1;
        position: absolute;
        top: -32px;
        left: 10px;
        border: 1px solid #c8c8c8;
        &.primary{
          font-weight: bold;
          color: #fff;
          background: #0992f1;
        }
        &:before{
          color: #c8c8c8;
          font-family: "FontAwesome";
          content: "\f1db";
          margin-right: 5px;
        }
        &.primary:before{
          content: "\f192";
          color: #fff;
        }
      }
      .year-made-label{
        font-size: 23px;
        line-height: 1;
        font-weight: bold;
        .model-label{
          font-size: 16px;
        }
      }
      &.new{
        border-style: dashed;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        .new-btn{
          font-size: 15px;
          color: #0992f1;
          line-height: 1;
          &:hover{
            color: #343434;
          }
        }
      }
      .shop-area{
        display: flex;
        flex-direction: column;
        .shop-btn{
          cursor: pointer;
          background-color: rgb(9, 146, 241);
          padding: 15px;
          border-radius: 5px;
          font-size: 15px;
          width: 130px;
          color: rgb(255, 255, 255);
          line-height: 1;
          font-weight: bold;
          margin: 13px 0;
          i{
            margin-left: 5px;
            font-weight: bold;
          }
        }
        .actions{
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: space-between;
          .action-btn{
            font-size: 14px;
            color: rgb(9, 146, 241);
            line-height: 1.786;
            i{color: #121412}
          }
        }
        @media screen and (max-width: 450px) {
          flex-direction: row;
          .actions{
            flex-direction: column !important;
            align-items: flex-start !important;
            margin-left: 40px;  
          }
          .shop-btn{
            //padding: 10px 15px;
            width: 115px;
            margin: 10px 0 40px;
          }
        }
        @media screen and (max-width: 390px) {
          .actions{
            margin-left: 25px;  
          }
        }
        @media screen and (max-width: 360px) {
          .shop-btn{
            width: auto;
            font-size: 15px;
            i{margin-left: 0px;}
          }
          .actions{
            font-size: 13px;
            word-spacing: -2px;
            margin-left: 18px; 
          }
        }
      }
      @media screen and (max-width: 1200px) {
        width: 46%;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
        margin-top: 45px;
        &.new{margin-top: 15px;}
      }
    }
  }
  
}
.radio-area{
  padding-top: 15px;  
  .form-group{ margin-bottom: 0;}
  .custom-control-inline {
    margin-right: 2rem;
  }
  
  .custom-control-label {
    padding-left: 10px;
    cursor: pointer;
    &::before{
      position: absolute;
      top: 2px;
      left: -15px;
      width: 15px;
      height: 15px;
    }
  }
  .custom-control-input:checked ~ .custom-control-label {
    &::before{
      color: #f00;
      border-color: rgb(172,172,172);
      background-color: #ffffff;
    }
    &::after {
      top: 1px;
      left: -16px;
      width: 17px;
      height: 17px;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%230b92f1'/%3e%3c/svg%3e")
    }
  }
  
  .lbl-radio{
    font-size: 14px;
    font-weight: bold;
  }
}
/* store-container */
.sub-lbl{
  font-size: 15px;
  color: #555;
  margin-bottom: 10px;
}
.lbl-state{
  font-size: 14px;
  line-height: 100%;
  color: rgb(9, 146, 241);
  padding-bottom: 10px;
}
.lbl-country{
  font-size: 15px;
  color: rgb(19,19,19);
  line-height: 1;
  margin-bottom: 10px;
}
.lbl-info{
  font-size: 15px;
  color: rgb(19,19,19);
  line-height: 1.3;
}
.t-bold{font-weight: bold;}
.lbl-1{
  font-size: 20px;
  color: rgb(18,18,18);
  font-weight: bold;
}
.lbl-1-sub{
  font-size: 15px;
  color: #aaa;
  margin-left: 10px;
  font-weight: normal;
  &.store-mobile{
    width: 100px;
    display: table;
    margin-left: 0px;
  }
}
.store-container{
  display: flex;
  flex-direction: row;
  .map-area{
    flex: 1;
  }
  span{width: auto;}
  .store-mobile{display: none;}
  @media screen and (max-width: 850px){
    .store-mobile{display: block;}
    .store-desktop{display: none;}
  }
  .location-area{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 750px;
    max-width: 767px;
    position: relative;
    background: #f3f3f3;
    overflow: hidden;

    .scroll-area{
      height: calc(400px - 73px);
      overflow-y: auto;
      display: flex;
      &.full{height: 400px;}
    }
    @media screen and (max-width: 850px){
      min-width: 100%;
      .scroll-area{
        flex-direction: column;
        height: calc(100vh - 229px);
        &.full{height: calc(100vh - 121px);}
        &.us_city{height: calc(100vh - 192px);}
      }
    }
    .close-btn{ right: 20px; top: 25px;}
    .btn-custom{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      .fa{font-size: 15px;font-weight: bold;}
    }
    
    .store-header{
      display: flex;
      flex-direction: column;
      background: white;
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
    }
    .geolocate-area{
      display: flex;
      flex-direction: row;
      .search{
        flex: 1; 
        position: relative;
        .input-auto-complete{
          border: 1px solid #b9b9b9;
          border-radius: 5px;
          background-color: rgb(237, 237, 237);
          font-size: 14px;
          color: #555555;
          padding: 10px 35px 10px 15px;
          height: auto;
          width: 100%;
        }
        i{
          cursor: pointer;
          color: #787878;
          font-size: 20px;
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }
      .btn-location{ 
        width: 230px;
        a{text-decoration: none;}
      }
      .b-loc{
        background: #0992f1;
        padding: 10px 15px;
        font-size: 15px;
        border-radius: 5px;
        width: 175px;
        color: #fff;
        margin-left: 10px;
        span{padding-left: 10px;}
        img{
          width: 20px;
          margin-right: 0;
          margin-top: -3px;
        }
      }
      @media screen and (max-width: 700px){
        .btn-location{width: 100px;}
        .b-loc{
          width: 50px;
          img{
            margin-top: 0px;
          }
        }
        span{display: none;}
      }
    }
   
    .us-area{
      margin: 0 15px;
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
      .sub-states{
        padding: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1;
        // height: 260px;
        width: 100px;
        height: 125px;
        &.city{
          flex: none;
          width: auto;
        }

        .lbl-state{
          min-width: 160px;
          max-width: 200px;
          display: inline-block;
        }
      }
    }
    .heart-area{
      width: 75px;
      height: 75px;
      border-radius: 5px;
      border: 2px solid rgb(172,172,172);
      background: transparent;
      color: #0992f1;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &.active{
        border: 0px solid rgb(172,172,172);
        background: #0992f1;
        color: white;  
        i{color: white;}
      }
      i{font-size: 13px; margin-bottom: 10px;color: rgb(172,172,172);}
      p{
        font-size: 13px;
        margin: 0px;
        line-height: 1;
      }
    }
    .state-area{
      flex: 1;
      display: flex;
      flex-direction: row;
      .international-area {
        width: 215px;
        padding: 15px;
        display: flex;
        flex-direction: column;
      }
    }
    .city-area{
      flex: 1;
    }
    @media screen and (max-width: 767px){
      .us-area{
        margin: 0 0;
        .sub-states {
          .lbl-state{
            min-width: 150px;
          }
          height: 200px;
        }
      }
      .state-area{
        flex-direction: column;
        .international-area {
          width: 100%;
          margin-top: auto;
          padding-bottom:50px;
          .btn-custom{width: 180px;float: right;}
        }
      }
    }
    @media screen and (max-width: 479px){
      .us-area{
        .sub-states {
          .lbl-state{
            min-width: 120px;
          }
        }
      }
    }
    @media screen and (max-width: 320px){
      .us-area{
        .sub-states {
          .lbl-state{
            min-width: 100px;
          }
        }
      }
    }
    .place-area{
      flex: 1;
      .place-row{
        display: flex;
        flex-direction: row;
        padding: 20px;
        font-size: 15px;
        color: rgb(18,18,18);
        background-color: rgb(243, 243, 243);
        border-bottom: 2px solid rgb(231,231,231);
        .place-info1{
          flex: 3;
          .mobile-place-info2{
            display: none;
          }
        }
        .place-info2{flex:2;}
        .place-info3{
          flex: 2;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        @media screen and (max-width: 767px){
          align-items: flex-start;
          .place-info1{
            .mobile-place-info2{
              display: flex;
              flex-direction: column;
              margin-top: 5px;
            }
          }
          .place-info2{display: none;}
          .place-info3{flex: 0;}  
        }
      }
      .empty-result{
        display: flex;
        flex-direction: column;
        // padding: 15px;
        height: 100%;
      }
    }
    .result-area{
      flex: 1;
    }
    .place-detail-area{
      flex: 1;
      // height: 100%;
      display: flex;
      flex-direction: column;
      background: #fff;
      .cap1-area{
        align-items: center;
      }
      .place-property{
        display: flex;
        flex-direction: row;
        flex: 1;
      }
      .switch-map{
        span{float: left;}
        .custom-control.custom-switch{float: left !important;margin-left: 10px;}
        .custom-switch .custom-control-label {
          &::before{
            left: -23px;
            width: 40px;
            top: -1px;
            height: 22px;
            pointer-events: all;
            border-radius: 20px;
            border: 2px solid rgb(153,153,153);
            background: rgb(204,204,204);
          }
          &::after {
            top: 0px;
            left: -22px;
            width: 20px;
            height: 20px;
            background-color: #ffffff;
            border: 2px solid rgb(153,153,153);
            border-radius: 20px;
          }
        }
        .custom-switch .custom-control-input:checked ~ .custom-control-label {
          &::before{
            background: #0992f1;
          }
          &::after{
            transform: translateX(18px);
          }
        }
      }
      .bk-grey{
        margin: 0 15px;
        padding: 15px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        &.w170{width: 170px;}
        .w65{width: 65px;}
      }
      .place-service{
        flex: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100px;
        .service-row{
          display: flex;
          align-items: center;
          margin: 5px 0;
          img{margin-right: 10px;}
        }
      }
      .btn-actions{
        margin-top: auto;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .btn-custom{width:  200px;}
      }
      .property{
        padding: 0 15px;
        .store-mobile{display: none !important;}
      }
      
      @media screen and (max-width: 850px){
        .cap1-area{align-items: flex-start;}
        .lbl-1-sub {margin-left: 0px;}
        .place-property{flex-direction: column;flex: 1;/* Changed from flex:0; to flex:1; to fix safari rendering issue*/}
        .w170{width: auto !important;height: 140px; margin-bottom: 15px;}
        .day-available{
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          width: 100%;
          height: 84px;
          .w65{width: 45px;}
        }
        .property{.store-mobile{display: flex !important;}}
        .store-amenity{height: 180px;}
        .btn-actions{margin-top: 0;}
      }
      @media screen and (max-width: 450px){
        .mw-200{width: 150px !important;}
        .btn-actions{
          .btn-custom{align-items: center;}
          align-items: center;
          span{
            width: 90px;
            text-align: right;
            &.store-detail-link{
              text-align: left;
            }
          }
          
        }
      }
      @media screen and (max-width: 380px){
        .mw-200{width: 130px !important;}
        .place-service{height: 240px;}
      }
    }
  }
}
